//@import "./src/styles/variables";

.button {
  min-width: 150px;
  padding: $paddingSmall $paddingMedium;
  border: 0;
  font-size: $fontSizeDefault;
  line-height: $lineHeightDefault;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  color: $black;
  background-color: $lightenLightenPrimaryColor;
  border-radius: $borderRadiusMedium;
  transition: all 0.3s ease;

  &:focus {
    background-color: $lightenPrimaryColor;
  }

  &:hover {
    background-color: $primaryColor;
  }

  &:disabled {
    background-color: $lightgray;
  }
}