.auth-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.auth-content {
  width: 400px;
}

@import "/Login/LoginForm/index";
@import "/Registration/RegistrationForm/index";