.home-page-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 50px 75px 1fr 75px;
  grid-template-areas:
    'navHeader dialogHeader'
    'search dialog'
    'contacts dialog'
    'contacts messageInput';
  width: 100%;
  height: 100%;
  padding-bottom: $paddingMedium;
}

.home-page__spinner-wrapper {
  grid-area: contacts;
  width: 100%;
  height: 100%;
}
