.dialog-user__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.dialog-user__avatar {
  margin-right: $marginMedium;
}

.dialog-user__info {
  flex-grow: 1;
  // Avatar width + avatar margin
  max-width: calc(100% - #{$marginMedium} - 48px)
}

.dialog-user__info-name-and-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: $marginSmall;
}

.dialog-user__info-name {
  margin-bottom: 0;
  font-size: $fontSizeDefault;
  line-height: $lineHeightDefault;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dialog-user__info-date {
  font-size: $fontSizeSmall;
  line-height: $lineHeightSmall;
}

.dialog-user__info-message-and-counter {
  position: relative;
  display: flex;
  flex-direction: row;
}

.dialog-user__info-last-message {
  position: relative;
  display: block;
  width: calc(100% - #{$fontSizeDefault});
  padding-right: 20px;
  font-size: $fontSizeDefault;
  line-height: $lineHeightDefault;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: $lightenBlack;
}

.dialog-user__info-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $fontSizeDefault;
  height: $fontSizeDefault;
  font-size: $fontSizeSmall;
  line-height: $lineHeightSmall;
  color: $white;
  background-color: $darkenPrimaryColor;
  border-radius: 50%;
}

.dialog-user__message-status {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
