.chat-message-wrapper {
  padding: $paddingSmall;
  transition: all 0.3s;

  &:hover {
    background-color: lighten($primaryColor, 25%);
  }
}

// incoming
.chat-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  //min-width: 150px;
  max-width: 60%;
  margin-right: auto;
  //padding: $paddingSmall;
  //margin-bottom: $marginMedium;
}

.chat-message__avatar-wrapper {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  margin: 0 0 $marginSmall;
  & span {
    font-size: $fontSizeDefault;
    line-height: $fontSizeDefault;
  }
}

.chat-message__message {
  display: flex;
  flex-direction: column;
  width: auto;
  //min-width: 100px;
  padding-left: $paddingSmall;
}

.chat-message__message-bubble {
  padding: $paddingSmall;
  margin-bottom: $marginSmall;
  border-radius: $borderRadiusLarge $borderRadiusLarge $borderRadiusLarge 0;
  background-color: $lightenPrimaryColor;
}

.chat-message__message-text {
  margin: 0;
  text-align: left;
}

.chat-message__date {
  margin: 0;
  text-align: left;
  font-size: $fontSizeExtraSmall;
  line-height: $lineHeightSmall;
  color: $lightenBlack;
}

// outcoming
.chat-message--by-me {
  flex-direction: row-reverse;
  margin-right: 0;
  margin-left: auto;
}

.chat-message__message--by-me {
  padding-left: 0;
  padding-right: $paddingSmall;
}

.chat-message__message-bubble--by-me {
  border-radius: $borderRadiusLarge $borderRadiusLarge 0 $borderRadiusLarge;
  background-color: $lightenLightenPrimaryColor;
}

.chat-message__date--by-me {
  text-align: right;
}

// other
.chat-message__icon {
  // line-height of the date + margin-bottom of bubble + padding of the bubble
  margin-bottom: calc(#{$marginSmall} + #{$lineHeightSmall} + #{$paddingSmall});
  margin-right: $marginMedium;
}

.chat-message__attachments {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.chat-message__attach {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: $borderRadiusMedium;
  overflow: hidden;

  & > img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: $borderRadiusMedium;
  }

  &:last-child {
    margin-right: 0;
  }
}

.chat-message__attach--one {
  width: 400px;
  height: auto;
}

// Bubbles to show if user user typing
@keyframes typingBubble {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.chat-message__typing-bubbles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: calc(#{$fontSizeSmall} + #{$fontSizeSmall} + #{$fontSizeSmall} + #{$paddingExtraSmall} + #{$paddingExtraSmall});
  height: $fontSizeSmall;
  margin: 0 auto;

  & > span {
    width: $fontSizeSmall;
    height: $fontSizeSmall;
    border-radius: 50%;
    background-color: $darkenPrimaryColor;
    animation: typingBubble 1.2s ease-in-out infinite;
  }

  & span:nth-child(1) {
    animation-delay: 0s;
  }

  & span:nth-child(2) {
    animation-delay: 0.3s;
    //animation: none;
  }

  & span:nth-child(3) {
    //animation: none;
    animation-delay: 0.6s;
  }
}